# Virtual Environment
venv/
.venv/
env/

# Python Cache & Artifacts
__pycache__/
*.pyc
*.pyo

# IDE & Editor Settings
.vscode/
.idea/

# Environment / Secret Files
.env

# Output logs / OS metadata
*.log
Thumbs.db
Desktop.ini